try_git/ProcessInlineTest/Service Descriptors/Caculators.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:tns="http://www.example.org/Caculators/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Caculators" targetNamespace="http://www.example.org/Caculators/">
    <wsdl:types><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.example.org/Caculators/">
	<xsd:element name="Addition">
		<xsd:complexType>
			<xsd:sequence>

				<xsd:element name="in" type="xsd:double"></xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="AdditionResponse">
		<xsd:complexType>
			<xsd:sequence>

				<xsd:element name="out" type="xsd:double"></xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element></xsd:schema></wsdl:types>
    <wsdl:message name="AdditionRequest">
		<wsdl:part name="op1" element="tns:Addition"></wsdl:part>
		<wsdl:part name="op2" element="tns:Addition"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="AdditionResponse">
    	<wsdl:part name="res" element="tns:AdditionResponse"></wsdl:part>
    </wsdl:message>
    <wsdl:portType name="Caculator">
    	<wsdl:operation name="Addition">
    		<wsdl:input message="tns:AdditionRequest"></wsdl:input>
    		<wsdl:output message="tns:AdditionResponse"></wsdl:output>
    	</wsdl:operation>
    </wsdl:portType></wsdl:definitions>
